<!DOCTYPE html>
<html lang="en">

<head> 
    <title> Dashboard </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
</head>

<body style="padding: 25px;">
    <div class="container">
        <h1>Dashboard</h1>
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{{ count_6h_ago }}</h3>
                        <p class="card-text"># of Tweet in 6 hours ago</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{{ count_today }}</h3>
                        <p class="card-text"># of Tweet in today</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{{ unique_hashtags_1h_ago }}</h3>
                        <p class="card-text"># of Hashtags in 1 hour ago</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin: 25px 0 25px 0;">
            <a href="{{ url_for('recent_tweets') }}" class="btn">Recent Tweets</a>
        </div>
        <div class="row" style="margin: 25px 0 25px 0;">
            <a href="{{ url_for('recent_hashtags') }}" class="btn">Recent Hashtags</a>
        </div>
    </div>
</body>

</html>